# Git
.git
.gitignore

# Docker
.dockerignore

# IDE / OS
.vscode
.idea
.DS_Store
*.swp

# Logs
*.log
npm-debug.log*

# .NET Build artifacts
**/bin/
**/obj/

# Angular Build artifacts
**/dist/
**/tmp/
/frontend/hyperspace-client/node_modules/